<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutUs.css">
    <script src="https://kit.fontawesome.com/f61ddf2813.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Library Management</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar_nav">
            <li class="nav_item">
                <a href="./User" title="Người dùng" >
                    <i class="fa-regular fa-user icon"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./AboutUs" class="aboutUs_btn" title="Về chúng tôi">
                    <i class="fa-solid fa-circle-info icon"> </i>
                </a></li>
                <li class="nav_item">
                    <a href="./Book" class="book_btn" title="Quản lí sách"> 
                        <i class="fa-solid fa-book icon"> </i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="./Reader" class="" title="Độc giả">
                        <i class="fa-solid fa-book-open-reader icon"> </i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="./Loan" class="" title="Quản lí phiếu mượn">
                        <i class="fa-solid fa-receipt icon"> </i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="./CheckOut" class="" title="Quản lí phiếu trả">
                        <i class="fa-regular fa-receipt icon"></i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="" title="Thống kê">
                        <i class="fa-solid fa-chart-pie icon"></i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="./Employee" class="" title="Quản lí nhân viên"> 
                        <i class="fa-solid fa-people-group icon" ></i>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/" class="" title="LogOut">
                        <i class="fa-solid fa-right-from-bracket icon-1"></i>
                    </a>
                </li>              
            
        </ul>
    </nav>
    <main>
        <h1>Các thành viên trong nhóm</h1>
        <p>Nguyễn Vinh Quang - 2108110353</p>
        <p>Nguyễn Đình Tú - 2108110352</p>
        <p>Lê Quốc Phi - 2108110370</p>
    </main>
    
</body>
</html>