<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Library Management</title>
</head>
<body>
    <div class="form-container">
      <form id="login-form" method="post" action="/login">
        <h2>Đăng nhập</h2>
          <p>
          <input class="username" type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
          </p>
          <p>
          <input class="password" type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
          </p>
          
          <p>
            <input type="checkbox" name="remember_me" id="remember_me" placeholder="remember_me">
            Remember me
          </p>
          <p>
            <input class="login" type="submit" id="login" value="Login">
            </p>
      </form>
    </div>
    
</html>