<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/User_style.css">
    <script src="https://kit.fontawesome.com/f61ddf2813.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Library Management</title>
</head>

<body>
    <nav class="navbar">
        <ul class="navbar_nav">
            <li class="nav_item">
                <a href="./User" title="Người dùng">
                    <i class="fa-regular fa-user icon"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./AboutUs" class="aboutUs_btn" title="Về chúng tôi">
                    <i class="fa-solid fa-circle-info icon"> </i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./Book" class="book_btn" title="Quản lí sách">
                    <i class="fa-solid fa-book icon"> </i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./Reader" class="" title="Độc giả">
                    <i class="fa-solid fa-book-open-reader icon"> </i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./Loan" class="" title="Quản lí phiếu mượn">
                    <i class="fa-solid fa-receipt icon"> </i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./CheckOut" class="" title="Quản lí phiếu trả">
                    <i class="fa-regular fa-receipt icon"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#" class="" title="Thống kê">
                    <i class="fa-solid fa-chart-pie icon"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="./Employee" class="" title="Quản lí nhân viên">
                    <i class="fa-solid fa-people-group icon"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="/" class="" title="LogOut">
                    <i class="fa-solid fa-right-from-bracket icon-1"></i>
                </a>
            </li>

        </ul>
    </nav>
    <main>
        <li style="list-style-type: none;">
            <ul>
                <div class="ID">
                    <h3>ID</h3>
                    <p class="ID-number">2108110353</p>
                </div>
            </ul>
        </li>

        <li style="list-style-type: none;">
            <ul>
                <div class="Username">
                    <h3>Tên</h3>
                    <input type="text" class="Username-txt" style="border-radius: 8px ; margin-left: 70px; width: 300; height: 30; ">
                </div>
            </ul>
        </li>
        <li style="list-style-type: none;">
            <ul>
                <div class="DateOfBirth">
                    <h3>Ngày sinh</h3>
                    <input type="date" name="" id="">
                </div>
            </ul>
        </li>
        <li style="list-style-type: none;">
            <ul>
                <div class="Gender">
                    <h3>Giới tính</h3>
                    <input type="radio" name="" id="">
                    <p style="margin-left: -30px;">Nữ</p>
                    <input type="radio" name="" id="">
                    <p style="margin-left: -30px;">Nam</p>
                </div>
            </ul>
        </li>
        <li style="list-style-type: none;">
            <ul>
                <div>
                    <h3>Chức vụ</h3>
                    <p style="margin-left: 10px;">Admin</p>
                </div>
            </ul>
        </li>
        <div> <input type="submit" value="Lưu" style="width: 60px; color: black; border-radius: 6px; border: none; "></div>
    </main>

</body>

</html>